{% extends 'base.html.twig' %}

{% block body %}

<h2>Liste des dernieres Demandes/recherches</h2>
    <div class="col-md-9 col-md-offset-3">
        <a href="{{ path('PostRoute', {'id': '2'}) }}"><button class="btn btn-primary">RECHERCHE</button></a>
        <a href="{{ path('PostRoute', {'id': '1'}) }}"><button class="btn btn-primary">OFFRE</button></a>
    <table class="table table-bordered table-striped">
    {% for post in posts %}
    <tr><td>{{ post.createdAt | date('d/m/Y H:i:s') }}</td><td>{{ post.type.designation }}</td><td>{{ post.titre }}</td><td>{{ post.member.name }}</td></tr>
        {% else %}
            <hr>
        <h2>Pas de Posts pour le moment</h2>
        {% endfor %}

    </table>
    </div>


{% endblock %}